
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

nav{
    display: flex;
}
.nam{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-left: 200px;

}
.color{
    color: #FD6E0A;
}
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;


}
nav{
    justify-content: space-between;
    margin: 0 auto;
}
nav ul{
    display: flex;
    align-items: center;
    
    
}
nav ul li{
    display: flex;
    margin-right: 35px;
    


}

nav li a{
    text-decoration: none;
}
.menu-color{
    color: #474747;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
    border: none;

}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
    
}
.profile{
    width: 580px;

}
.lekha{
    max-width: 585px;
    margin-left: 25px;
}
.greeting{
    font-size: 45px;
    color: #474747;
    font-weight: 600;

}
.name{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.pera{
    font-size: 500;
    font-size: 18px;
    color:#757575 ;
}
.main{

}
.box{
    width: 827px;
    text-align: center;
    margin: 0 auto;
    margin-top: 130px;
    padding: 131px 157px;

}
.lekha-one{
    font-size: 35px;
    font-weight: bold;
    color: #181818;


}
.lekha-two{

    font-size:  18px;
    font-weight: 500;
    color: #757575;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.about-item{
    
}
.item-description{
    font-weight: bold;
    font-size: 20px;
}

/* skill style  */

.what{
    padding: 131px 157px;
}
.i{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;

}
.p{
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    
    
    color: #757575;
    

}
.skills{
    display: flex;
    margin-top: 30px;
    
  
 
}
.skill{
    
    text-align: center;
    
    gap: 24px;
    padding: 30px;
   

    margin-top: 55px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
   
}
.skill .title{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;

}
.skill .description{
  
    font-size: 16px;
    color:#757575 ;
    font-family: sans-serif;
}